@page
@model WebBD_GIBDD.Pages.CarsStolens.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarsStolen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarsStolen.ID" />
            <div class="form-group">
                <label asp-for="CarsStolen.DateStolen" class="control-label"></label>
                <input asp-for="CarsStolen.DateStolen" class="form-control" />
                <span asp-validation-for="CarsStolen.DateStolen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarsStolen.DateAppeal" class="control-label"></label>
                <input asp-for="CarsStolen.DateAppeal" class="form-control" />
                <span asp-validation-for="CarsStolen.DateAppeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarsStolen.Circumstances" class="control-label"></label>
                <input asp-for="CarsStolen.Circumstances" class="form-control" />
                <span asp-validation-for="CarsStolen.Circumstances" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CarsStolen.MarkFind" /> @Html.DisplayNameFor(model => model.CarsStolen.MarkFind)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CarsStolen.DateFind" class="control-label"></label>
                <input asp-for="CarsStolen.DateFind" class="form-control" />
                <span asp-validation-for="CarsStolen.DateFind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
