@page
@model WebBD_GIBDD.Pages.BrandAutos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BrandAuto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrandAuto.ID" />
            <div class="form-group">
                <label asp-for="BrandAuto.CompanyManufacturer" class="control-label"></label>
                <input asp-for="BrandAuto.CompanyManufacturer" class="form-control" />
                <span asp-validation-for="BrandAuto.CompanyManufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandAuto.CountryManufacturer" class="control-label"></label>
                <input asp-for="BrandAuto.CountryManufacturer" class="form-control" />
                <span asp-validation-for="BrandAuto.CountryManufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandAuto.Name" class="control-label"></label>
                <input asp-for="BrandAuto.Name" class="form-control" />
                <span asp-validation-for="BrandAuto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandAuto.StartProduction" class="control-label"></label>
                <input asp-for="BrandAuto.StartProduction" class="form-control" />
                <span asp-validation-for="BrandAuto.StartProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandAuto.EndProduction" class="control-label"></label>
                <input asp-for="BrandAuto.EndProduction" class="form-control" />
                <span asp-validation-for="BrandAuto.EndProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandAuto.Specifications" class="control-label"></label>
                <input asp-for="BrandAuto.Specifications" class="form-control" />
                <span asp-validation-for="BrandAuto.Specifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandAuto.Description" class="control-label"></label>
                <input asp-for="BrandAuto.Description" class="form-control" />
                <span asp-validation-for="BrandAuto.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
